In [1]:
#To do add substract divide multiply using series

In [3]:
import pandas as pd

In [6]:
data1 = pd.Series([5,6,7,8,9])
data2= pd.Series([2,1,3,4,5])
print(data1)
print(data2)

0    5
1    6
2    7
3    8
4    9
dtype: int64
0    2
1    1
2    3
3    4
4    5
dtype: int64

In [7]:
data = data1 + data2
print(data)

0     7
1     7
2    10
3    12
4    14
dtype: int64

In [8]:
data = data1 - data2
print(data)

0    3
1    5
2    4
3    4
4    4
dtype: int64

In [9]:
data = data1 * data2
print(data)

0    10
1     6
2    21
3    32
4    45
dtype: int64

In [10]:
data = data1 / data2
print(data)

0    2.500000
1    6.000000
2    2.333333
3    2.000000
4    1.800000
dtype: float64